#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
}

.yellow {
  color: rgba(255, 255, 0, 1);
  font-weight: bold;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 23%;
  box-sizing: border-box;
  background-color: darkslategray;
  border-radius: 25px;
  padding: 1em 2em;
  margin: 1em 0.5em;
  border: 1px solid white;
  box-shadow: 4px 4px 2px black;
}

img {
  margin: 0 auto;
  height: 125px;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 0, 0.75);
  background-color: white;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

label{
  margin-bottom: 5px;
}

input {
  border-radius: 5px;
  color: rgba(255, 255, 0, 1);
  font-weight: bold;
  margin-bottom: 10px;
}

input:focus{
  outline: 1px solid rgba(255, 255, 0, 0.5);
}
